.custom-bg1{
	background: url(../img/custom-bg/custom-bg1.jpg);
}
.custom-bg2{
	background: url(../img/custom-bg/gallery_kitchen2000x1125.jpg)top center no-repeat; /*Good*/
}
.custom-bg3{
	background: url(../img/custom-bg/contact_picture_small.jpg)top center no-repeat;
       
}
.custom-bg4{
	background: url(../img/custom-bg/gallery_kitchen_small.jpg) no-repeat;
}
.custom-bg5{
    background: url(../img/custom-bg/about_kitchen2000x1092.jpg)right ;
} 
.custom-bg6{
	background: url(../img/custom-bg/custom-bg8.jpg);
}
.custom-bg7{
	background: url(../img/custom-bg/custom-bg9.jpg);
}
.custom-bg8{
	background: url(../img/custom-bg/carpentry_wallpaperhd.jpg);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .custom-bg2{
            background: url(../img/custom-bg/gallery_kitchen2000x1125.jpg)top center no-repeat; /*Good*/
    }
    .custom-bg3{
            background: url(../img/custom-bg/contact_kitchen2000x1112.jpg)top center no-repeat;       
    }
    .custom-bg4{
            background: url(../img/custom-bg/about_kitchen3000x1638.jpg) no-repeat;
    }
    .custom-bg5{
	background: url(../img/custom-bg/about_kitchen2000x1092.jpg)20% 0% ;
    } 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .custom-bg2{
            background: url(../img/custom-bg/gallery_kitchen2000x1125.jpg)top center no-repeat; /*Good*/
    }
    .custom-bg3{
            background: url(../img/custom-bg/contact_kitchen2000x1112.jpg) no-repeat;       
    }
    .custom-bg4{
	background: url(../img/custom-bg/about_kitchen4000x2184.jpg) no-repeat;
    }
    .custom-bg5{
	background: url(../img/custom-bg/about_kitchen2000x1092.jpg)50% 1500% ;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .custom-bg2{
            background: url(../img/custom-bg/gallery_kitchen2.jpg)0% 350% no-repeat; /*Good*/
    }    
    .custom-bg3{
            background: url(../img/custom-bg/contact_kitchen.jpg)0% 600% no-repeat;       
    }
    .custom-bg4{
	background: url(../img/custom-bg/gallery_kitchen.jpg)300% 300% ;
    }
    /*This is for the parallax about page.*/
    .custom-bg5{
	background: url(../img/custom-bg/about_kitchen2000x1092.jpg)0% 1500% ;
    }
}